<launch>
  <arg name="map_file" default="$(find nav2d)/maps/map1.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
  <param name="frame_id" value="map"/>
  </node>
  <!--- Run Move Base -->  
  <include file="$(find husky_navigation)/launch/move_base.launch">
    <arg name="no_static_map" value="false"/>
  </include>
  
</launch>